*.pbxproj -text
# specific for windows script files
*.bat text eol=crlf
ios_sdk/4.7.2/static/effect-sdk.xcframework/ios-arm64/effect-sdk.a filter=lfs diff=lfs merge=lfs -text
ios_sdk/4.7.2/dynamic/effect-sdk.xcframework/ios-arm64/dSYM.zip filter=lfs diff=lfs merge=lfs -text
