
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commit</key>
	<string>90c4f853b359cddf2ef5bc6cbd312fecdeba853a</string>
	<key>emuuid</key>
	<string>a2c4d95fd81beb0b03f107471fbf8ceb</string>
</dict>
</plist>

    
